@import url('owl.carousel/dist/assets/owl.carousel.css');
@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('aos/dist/aos.css');
@import 'predefinied.scss';

.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-modify: none;
    -moz-user-modify: none;
    -ms-user-modify: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    // user-modify: none;
    // tap-highlight-color: transparent;
    // font-smoothing: antialiased;
    font-family: $fontStack;
    font-weight: 300;
    max-width: 100vw;
    // overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
a,
span,
div {
    font-weight: $fontWeightThin !important;

    &::selection {
        background: $clern-blue;
        color: white;
    }
}


.header {
    position: fixed;
    z-index: 1024;
    width: 100%;
    display: flex;
    top: 16px;
    transition: 0.5s;

    .container-fluid {
        height: 72px;
        position: relative;
        background: transparent;
        border-radius: .0010px;
        transition: $durationM;

        &.scrolled {
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
            margin-top: 0.25rem;
            border-radius: 200px;
            background: white;
            padding: 0 0.75rem;


            .header {
                color: white;

                &__logo-img {
                    max-height: 32px;
                    margin-left: 1.5rem;
                }
            }
        }
    }

    &__logo {
        display: flex;
        position: relative;
        z-index: 16;
        transition: 0.5s $bezierFastoutSlowin;
        cursor: pointer;
        color: $clern-darkGrey;
        line-height: 2.5rem;
        font-size: $fontSizeBodyL;

        &::after {
            content: '.blog';
            font-style: italic;
            color: $clern-lightGreen;
            position: absolute;
            right: -40px;
            bottom: -7px;
        }

        &:hover {
            transform: scale(1.06);
        }

        &:active {
            transform: scale(1);
        }

        &-img {
            max-height: 48px;
        }

        svg {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.25rem 0;
            margin-right: 1rem;

            path,
            rect {
                fill: white;
            }
        }
    }

    .nav-toggle {
        // position: fixed;
        top: 1rem;
        right: 2.5rem;
        margin-right: 1rem;
        z-index: 1024;
        display: none;
        background: none;
        border: 0;
        outline: 0;
        height: 48px;
        align-items: center;

        svg {
            color: $clern-darkGrey;
            transition: $bezierFastoutSlowin 0.5s;
            top: 50%;
            left: calc(50% + 1.7px);
            position: absolute;
            width: 28px;
            height: 28px;

            path {
                fill: white;
                transition: $bezierFastoutSlowin 0.5s;
            }
        }

        &__inner {
            position: relative;
        }

        &__icon--menu {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &__icon--close {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }


    .button-icon-only {
        align-items: center;
        justify-content: center;
        padding: 0;
    }


    // &__nav {
    //     flex-grow: 10;
    //     display: flex;
    //     align-items: center;
    //     margin-left: calc(-207px / 2);
    // }

    &__nav-list {
        display: flex;
    }

    &__nav-link {
        color: black;
        align-self: center;
        font-weight: $fontWeightMedium;
        font-size: $fontSizeBodyL;
        text-decoration: none;
        position: relative;
        transition: color $durationS ease .1s;
        line-height: 1;
        padding: 0 $spaceS;
        margin: 0 $spaceS;
        border-radius: 0;
        letter-spacing: $spaceLetters;
        transition: $bezierFastoutSlowin 0.36s;
        font-weight: bold;

        &:active,
        &:hover {
            text-decoration: none;
            color: $clern-blue;

            &:before {
                width: 100%;
            }
        }

        &.active {
            color: white;
        }
    }

    &__nav-left {
        position: relative;

        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .magic-line {
            position: absolute;
            bottom: -0.75rem;
            left: 0;
            padding: 0;
            width: 100px;
            height: 4px;
            border-radius: 200px;
            background: $clern-blue-gradient;
            transition: $durationM;
            opacity: 0;
        }
    }

    &__social-link {
        background: lighten($color: $clern-blue, $amount: 20%);
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: $durationM;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            background: $clern-blue;
            background: $clern-blue-gradient;
            transition: $durationM;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
        }

        svg {
            fill: white;
            border-radius: 50%;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 1;
        }

        &:hover {
            &::before {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__search-btn {
        background: white;
        box-shadow: 0px 4px 14px 0px rgba(141, 206, 87, 0.54);
        outline: none;
        border: none;

        &::before {
            background: $clern-lightGreen;
            background: $clern-green-gradient;
            transform: translate(-50%, -50%) scale(1.01);
        }

        &:hover {
            &::before {
                transform: translate(-50%, -50%) scale(0);
            }

            svg {
                path {
                    fill: $clern-lightGreen;
                }
            }
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            border: none;
        }

        svg {
            height: 17px;
            transition: $durationM;
        }
    }
}

.main {
    margin-top: 120px;
}

.news-slider {
    width: 100%;


    &__item {
        position: relative;
        min-height: 630px;
        height: calc(100vh - 120px);
        color: white;
    }

    &__img {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
        z-index: -1;
        opacity: 0.1;
    }

    &__img-container::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: $clern-blue;
        z-index: -3;
        height: 100%;
        width: 100%;
        content: '';
    }

    &__category {
        font-size: $fontSizeBodyL;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background: white;
        text-align: center;
        padding: 0.5rem;
        box-shadow: $shadow-xl;
        color: white;
        display: block;
        transition: $durationM;
        overflow: hidden;
        position: relative;
        transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(0);
        transform-style: preserve-3d;

        span {
            position: relative;
            z-index: 1;
            transition: $durationM;
        }

        &::before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: $clern-green-gradient;
            transition: $durationL;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            z-index: 1;
        }

        &:active {
            transform: scale(0.9);
        }

        &:hover,
        &:focus,
        &:active {
            color: white;
        }
    }

    &__heading {
        font-size: $fontSizeH1;
        position: relative;

        &::before {
            content: '';
            width: 88px;
            height: 3px;
            background-color: white;
            display: inline-block;
            position: absolute;
            left: -88px;
            top: 25%;
        }
    }

    &__author {
        font-weight: 400 !important;
        color: white;
        display: block;

        &:hover {
            color: white;
        }
    }


    &__btn {
        text-transform: uppercase;
        border-radius: 200px;
        background-color: white;
        border: none;
        transition: $durationM;
        font-size: $fontSizeBodyL;
        color: white;
        position: relative;
        box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        overflow: hidden;
        transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(0);
        transform-style: preserve-3d;
        padding: 1rem 2rem;
        width: 200px;
        color: $clern-blue;


        &:before {
            content: '';
            background: $clern-blue-gradient;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            z-index: -1;
            transition: $durationL $bezierFastoutSlowin;
            position: absolute;
            left: -1px;
            top: -1px;
            border-radius: 200px;
            transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(-100%);
        }

        &:hover {
            text-decoration: none;
            color: $clern-blue;

            &:before {
                transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(-90%);
            }
        }

        &:active {
            color: $clern-blue;
            outline: none;
            box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            transform: scale(0.95);
        }


        &:focus {
            outline: none;
            box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .main-counter {
        position: absolute;
        right: calc(1rem + 1px + 7vw);
        top: calc(50% + 85px);
        color: white;
        font-size: $fontSizeBodyL;

        &__number {
            font-size: $fontSizeH2;
            margin-right: 5px;
            font-weight: 400;
        }
    }

    .owl-dots .active span {
        transform: translate(-2px, -13px) scale(1.5);
        margin-right: 6px;
    }

    .owl-dots button {
        outline: none;
    }

    .owl-dots .owl-dot span {
        height: 2px;
        width: 2px;
        box-shadow: inset white 0 0 0px 2px;
        box-sizing: border-box;
        background-color: transparent !important;
        border-radius: 50%;
        padding: 5px;
        margin: 10px 5px;
        float: left;
        outline: none;
    }

    .bar {
        width: 0%;
        height: 100%;
        background: #fff;
        opacity: 1 !important;
        z-index: 3000;
        position: relative;
    }

    .progressBar {
        display: inline-block;
        width: 4rem;
        height: 2px;
        position: relative;
        background: #94d08b;
        z-index: 3000;
        transform: translateY(-14px);
    }

    .line-container {
        display: flex;
        justify-content: center;
    }

    .owl-nav span {
        position: absolute;
        max-height: 70px;
        top: 50%;
        transform: translate(0, -50%);
        transition: $durationM;
        color: white;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 3rem;
        height: 70px;
        color: transparent;

        &:hover {
            transform: translate(10px, -50%);
        }

        &:active {
            transform: scale(0.8) translate(10px, -50%);
        }
    }

    .owl-prev span {
        left: 5%;
        background-image: url("../images/svg/light-arrow-left.svg");

    }

    .owl-next span {
        background-image: url("../images/svg/light-arrow-right.svg");
        right: 5%;

        &:hover {
            transform: translate(-10px, -50%);
        }

        &:active {
            transform: scale(0.8) translate(-10px, -50%);
        }
    }
}


.triple-news {
    margin-top: -10vh;

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        gap: 1.5rem;
        grid-auto-flow: dense;
    }

    &__item {
        border-bottom-right-radius: 35px;
        color: $clern-darkGrey;
        padding: 0;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        background: white;
        z-index: 1;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        transition: $durationM;
        min-height: 350px;
        outline: none;
        border: none;
        grid-column: span 2;

        &:before {
            content: '';
            background: $clern-blue-gradient;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            z-index: 1;
            border-bottom-right-radius: 35px;
            transition: $durationL $bezierFastoutSlowin;
            position: absolute;
            left: -1px;
            top: -1px;
            border-bottom-right-radius: 35px;
            transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(-100%);
        }

        &:hover {
            text-decoration: none;
            color: white;
            box-shadow: 0px 3px 18px 0px rgba(34, 202, 255, 0.36);
            transform: scale(1.025);
            outline: none;

            &:before {
                transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(0);
            }

            .triple-news {
                // &__category {
                // &:before {
                // top: -100%;
                // }
                // }

                &__title,
                &__time,
                &__subtitle {
                    color: white;

                }


                &__comment svg path {
                    fill: white;
                    fill-opacity: 1;
                }

                &__more {
                    &::before {
                        left: -100%;
                    }

                    color: $clern-blue;
                }
            }


        }

        &:active {
            transform: scale(0.97);
            outline: none;
            border: none;
        }

        &:focus {
            outline: none;
            border: none;
        }

        &--video {
            text-align: left;

            &:hover {
                box-shadow: 0px 4px 14px 0px rgba(141, 206, 87, 0.54);

                .triple-news__play {
                    path {
                        fill-opacity: 0.8;
                    }
                }
            }

            &::before {
                content: '';
                z-index: 1;
                opacity: 0.9;
                background: $clern-green-gradient;
                transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(0);
            }

            .triple-news {
                &__img-container {
                    max-height: 100%;
                    position: absolute;
                    z-index: 0;
                }

                &__item-content {
                    bottom: 0;
                    position: absolute;
                    z-index: 2;
                }


                &__time,
                &__title,
                &__subtitle,
                &__comment svg,
                &__comment svg path {
                    color: white;
                    fill: white;
                    z-index: 2;
                }

            }
        }

        &--vertical {
            flex-direction: row;

            .triple-news {
                &__img-container {
                    max-height: 100%;
                    max-width: 40%;
                }

                &__comment {
                    position: absolute;
                    left: 40%;
                    bottom: 0;
                }
            }
        }
    }

    &__img-container,
    &__item-content,
    &__comment,
    .btn-expand__more {
        position: relative;
        z-index: 2;
    }

    &__img-container {
        max-height: 200px;

        .img-fluid {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__category {
        font-size: $fontSizeBodyS;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background: white;
        text-align: center;
        padding: 0.5rem 2rem;
        box-shadow: $shadow-xl;
        color: white;
        display: block;
        transition: $durationM;
        overflow: hidden;
        position: absolute;
        top: 1rem;
        left: 1rem;
        transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(0);
        transform-style: preserve-3d;
        background: $clern-blue-gradient;

        span {
            position: relative;
            z-index: 2;
            transition: $durationM;
        }

        &::before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: $clern-green-gradient;
            transition: $durationL;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            z-index: 1;
        }
    }

    &__item-content {
        max-width: 500px;
    }

    &__time,
    &__title,
    &__subtitle,
    &__comment svg,
    &__comment svg path {
        font-size: $fontSizeBodyM;
        transition: $durationM;
        color: $clern-darkGrey;
    }

    &__time,
    &__comment {
        opacity: 0.65;
    }

    &__comment {
        flex-grow: 10;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        line-height: 1;

        svg {
            margin-right: 0.5rem;
        }
    }

    &__title {
        color: $clern-blue;
    }

    &__subtitle {
        font-size: $fontSizeBodyXS;
    }

    &__more.btn-expand__more {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    &__play {
        position: absolute;
        z-index: 1;
        width: 72px;
        height: 72px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        transition: $durationM;

        path {
            transition: $durationM;
        }
    }
}


.show-articles {
    z-index: 2;
    color: white;
    background: white;
    font-size: $fontSizeBodyM;
    box-shadow: 0px 9px 21px 0px rgba(144, 207, 87, 0.75);
    display: inline-block;
    position: relative;
    transition: $durationL;
    border-radius: 200px;
    text-transform: uppercase;
    z-index: 1;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;

    &__container {
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 200px;
            z-index: 0;
            left: 0;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $clern-lightGreen;
        border-radius: 200px;
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $clern-green-gradient;
        border-radius: 200px;
        z-index: 1;
        transition: $durationL;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        box-shadow: none;

        span {
            color: $clern-lightGreen;
        }

        &::after {
            transform: scale(0) rotateX(40deg);
        }
    }

    &:active {
        transform: scale(0.9);
    }

    span {
        display: block;
        position: relative;
        z-index: 2;
        color: white;
        border-radius: 200px;
    }
}


.instagram {
    &__item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__item {
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        position: relative;
        transition: 1s;
        z-index: 1;
        background-color: white;

        &::after,
        &::before {
            content: "";
            font-size: 2rem;
            background: $clern-blue;
            color: white;
            opacity: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
            text-align: center;
            line-height: 200px;
            transition: $durationM;
        }

        &::before {
            width: 3rem;
            height: 3rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }

    &__item:hover {
        background-color: #3fbae1;
        cursor: pointer;

        &::after {
            opacity: 0.9;
        }

        &::before {
            background-image: url('../images/svg/instagram-white.svg');
            opacity: 1;
        }
    }

}


.newsletter {
    margin: 0 auto;
    margin-top: -100px;

    &__heading {
        font-size: $fontSizeH1;
        margin-bottom: 0;
    }

    .container-fluid {
        box-shadow: 0px -3px 21px 0px rgba(144, 207, 87, 0.75);
        background: $clern-green-gradient;
        border-top-left-radius: 15vh;
        padding-top: 100px;
    }

    .row {
        position: relative;
    }

    &__input-container {
        display: flex;
        align-items: center;
    }

    &__btn {
        border-radius: 200px;
        background-color: white;
        color: $clern-lightGreen;
        border: 3px solid transparent;
        transition: $durationM;
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
        font-size: $fontSizeBodyS;
        text-transform: uppercase;

        &:hover {
            background-color: transparent;
            color: white;
            border: 3px solid white;
            border-bottom-right-radius: 200px;
            border-top-right-radius: 0;
        }

        &:active {
            border-top-right-radius: 200px;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    .form-label {
        font-size: $fontSizeBodyS;
        color: white;
        left: 1rem;
    }

    .form-input {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
        border-left: none;
        max-width: 100%;

        &:focus {
            border-bottom: 1px solid rgba(255, 255, 255, 1);
        }
    }
}


.about {
    .container-fluid {
        background: $clern-blue-gradient;
        box-shadow: 0px 0px 21px 0px rgba(20, 184, 235, 0.5);
    }

    &__link {
        color: white;
        font-size: $fontSizeBodyS;
    }

    &__heading {
        font-size: $fontSizeH2;
    }


    &__link:hover {
        color: white;
    }

    .link-hover-green &__link:hover {
        color: $clern-lightGreen !important;
    }

    &__text {
        font-size: $fontSizeBodyS;
    }

    &__date {
        opacity: 0.5;
        text-decoration: none;
        font-size: $fontSizeBodyXS;
    }


    &__social .fab {
        border-radius: 50%;
        background-color: rgba(117, 223, 255, 0.5);
        color: white;
        transition: $durationM;
        width: 43px;
        height: 43px;
        text-align: center;
        opacity: 1;
        font-size: $fontSizeBodyM;
        line-height: 1.35;
    }

    &__social .fab:hover {
        background-color: $clern-blue;
        cursor: pointer;
    }
}


.footer {
    z-index: -1;


    .container-fluid {
        background-color: $clern-grey;
        box-shadow: 0px 0px 21px 0px rgba(243, 247, 255, 0.5);
        width: 100%;
    }

    .row:last-child {
        border-top: 1px solid rgba(25, 25, 25, 0.1);
    }

    &__logo {
        max-height: 60px;
    }

    &__grey {
        font-size: $fontSizeBodyS;
        opacity: 0.7;
    }

    &__link {
        color: $clern-darkGrey;
        font-size: $fontSizeBodyM;
        transition: $durationS;

        &:hover {
            color: $clern-blue;
            text-decoration: none;
        }
    }

    &__tel,
    &__email {
        color: $clern-blue;
        display: inline-block;
        font-size: $fontSizeH3;
        position: relative;
        overflow: hidden;
    }

    &__tel:hover,
    &__tel:visited,
    &__email:hover,
    &__email:visited {
        text-decoration: none;
        color: $clern-blue;
    }

    &__tel::after,
    &__email::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $clern-blue;
        bottom: 0;
        right: -100%;
        transition: $durationM;
    }

    &__tel:hover::after,
    &__email:hover::after {
        right: 0;
    }

    &__social-link {
        display: inline-block;
        transition: $durationM;
        border-radius: 50%;
        background: $clern-blue;
        padding: 0.5rem;


        &:hover {
            transform: scale(1.2);
            background: $clern-lightGreen;
        }

        &:active {
            transform: scale(0.9);
        }

        &:focus {
            outline: none;
        }

        svg {
            transform: scale(0.65);
        }

        svg path {
            fill: white;
        }
    }

    &__pay-img {
        opacity: 0.14;
        transition: $durationM;
    }

    &__pay-img:hover {
        opacity: 0.8;
    }
}




.modal-search {
    .form-group {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-label {
        font-size: $fontSizeH2;
    }

    .focused .form-label {
        font-size: $fontSizeBodyL;
    }

    .form-input {
        padding-top: 10px;
        max-width: calc(100% - 64px);
        font-size: $fontSizeH2;
        box-shadow: 0 2px 0 0 $clern-darkGrey;
    }

    &__btn {
        width: 56px;
        height: 56px;
        display: inline-flex;
    }

}

.modal-video {

    .modal-dialog,
    .modal-content {
        max-width: calc(100vw - 1rem);
    }

    .modal-body {
        text-align: center;
    }

    .modal-dismiss {
        z-index: 5;
        top: -3rem;
    }

    &__video {
        width: 100%;
        height: 80vh;
        max-width: 1600px;
        max-height: 900px;
    }
}

@media (max-width:1200px) {

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden !important;
    }

    .header {
        bottom: initial;
        top: 0;
        left: 1rem;
        width: calc(100% - 2rem);
        padding: 0;
        height: 48px;
        max-width: 100vw;
        left: 0;
        left: 1rem;
        right: 1rem;
        width: calc(100vw - 2rem);

        .container-fluid {
            margin-top: 0.75rem;
            padding: 0;
            min-height: initial;

            &.scrolled {
                background: white;

                .header__lang-all {
                    top: initial;
                    width: auto;

                    .container {
                        margin: 0;
                    }
                }
            }
        }


        &__logo {
            padding: 0;

            &-img {
                max-height: 32px;
            }
        }

        &__nav {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.8);
            transform: translate3d(0, -100%, 0);
            transition-duration: $durationL;
            transition-timing-function: $bezierFastoutSlowin;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur($spaceS);
            max-width: 100%;
            width: 100%;
            opacity: 0;
            margin: 0;


            &--entered {
                transform: translateZ(0);
                opacity: 1;
            }

            &-right {
                text-align: center;
                width: 100vw;
                max-width: 250px;
            }

        }

        &__nav-list {
            transform: none;
            display: block;
            flex-direction: initial;
        }

        .magic-line {
            display: none;
        }

        &__nav-link {
            width: 100%;
            display: block;
            font-size: $fontSizeBodyL;
            padding: 16px;
            text-align: center;
            color: black !important;
            margin: 0;
        }

        .nav-toggle {
            display: flex;
            background: $clern-lightGreen;
            margin-right: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;

            &__inner {
                width: 32px;
                height: 32px;
            }

            &--entered {
                .nav-toggle__icon--menu {
                    opacity: 0;
                    transform: translate(-10%, -50%);
                }

                .nav-toggle__icon--close {
                    opacity: 1;
                    transform: translate(-50%, -50%) rotate(0);
                }
            }
        }

        &__lang-active {
            position: relative;
            z-index: 10;
        }

        &__lang-active-text {
            color: $clern-lightGreen;
        }

        &__lang-arrow {
            display: none;
        }

        &__lang-container {
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
            color: black;
            background: transparent;
            box-shadow: none;
            width: auto;
            margin-top: 1.5rem;
            display: flex;
            width: 100%;
            justify-content: space-around;
            font-size: 1rem;


            &:hover,
            &:focus,
            &:active {
                background: transparent;
                box-shadow: none;
                border: none;
            }
        }

        &__lang-all {
            display: flex;
            position: initial;
            background: none;
            padding: 0.25rem 1rem;
            width: auto;
            color: black;
            transform: none;
            opacity: 1;
            z-index: 1;
            font-size: 1rem;

            .container {
                margin: 0;
                padding: 0.5rem 1rem;
            }
        }

        &__lang-active {
            width: 72px;
            height: 72px;
            border: 1px solid green;
            border-radius: 50%;
            margin-right: 0.5rem;
            display: -webkit-box;
            align-items: center;
            justify-content: center;
            display: none;
        }

        &__btn {
            margin-top: 0.5rem;
            color: $clern-blue;
            border-color: $clern-blue;
            background: transparent;
            height: 50px;
            line-height: 50px;
        }
    }

    .news-slider .owl-nav span {
        top: 15%;
    }

}

@media (max-width:992px) {
    .news-slider {
        &__heading::before {
            content: none;
        }
    }
}

@media (max-width:480px) {
    .news-slider {
        &__item {
            min-height: initial;
            max-height: 500px;
        }

        &__category {
            font-size: $fontSizeBodyS;
        }

        &__heading {
            font-size: $fontSizeH2;
        }

        .owl-nav span {
            top: initial;
            bottom: 15%;
            max-height: 52px;
        }

        &__btn {
            transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(0) scale(0.75);

            &:active,
            &:hover,
            &:focus {
                transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) translateX(0) scale(0.75);
            }
        }
    }

    .triple-news {
        margin: 0.75rem;
        margin-top: -4rem;



        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }

        &__item {
            flex-direction: row;
            min-height: 100px;
            grid-column: span 1 !important;

            &--video {
                .triple-news {
                    &__item-content {
                        position: static;
                        padding-top: 170px !important;
                    }

                    &__img-container {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }

            &--vertical {
                .triple-news {
                    &__img-container {
                        max-width: 72px;
                    }

                    &__comment {
                        top: 0;
                        right: 0;
                        left: initial;
                        bottom: initial;
                    }
                }
            }
        }

        &__img-container {
            width: 40%;
            height: 100%;
            max-width: 72px;

            .img-fluid {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__category,
        &__subtitle,
        &__more {
            display: none;
        }

        &__comment {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}